@page "/"

    <a href="https://github.com/rajeshmuraleedharan/blazor-redux" target="_blank" class="ml-md-auto">Github Repo</a>
    <p>
        single state store approach in Blazor front-end app using Blazor-Fluxor library
    </p>   

    <img src="/blazor-redux.JPG" />
